.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.custom-card {
  margin: 10px;
}

.body {
  background: linear-gradient(135deg, #FFA500, #FF6347, #8B0000)!important;
  font-family: 'pokemon', sans-serif;
}
